/* css de todos los eventos */
.text-center{
     font-family: 'Times New Roman', Times, serif ; /* Cambia la fuente a Arial */
    font-size: 25px; /* Tamaño de fuente */
    color: #090101; /* Color del texto */
    letter-spacing: 1px; /* Espaciado entre letras */
    line-height: 2; /* Altura de línea */
    font-weight: bold;
}
.letras{
    display: flex;
    font-family: 'Times New Roman', Times, serif ;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: left;
}



.card{
    background-color: #abc4f0;
border-radius: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    
}
.cardevento{
    
    width: 100%;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.botonver{
    margin-bottom: 10px;
    
}


.descripcion{
    background-color: aqua;
    width: 100%;
    word-wrap: break-word;

}
.container{
    position: relative;
    width: 100%;

    overflow: hidden;

}
.baner{
width: 100%;
height: 100px; 
}

.baner-imagen{
    position: absolute;
    
    width: 100%;
    height: 100%;
margin-top: -20px;
margin-left: -20px;
   height: 100px;
   margin-bottom: 10px;
}



.float-right{
    width: 100px;
    height: 100px;
    margin-left: auto;
}
.texto-titulo {

    display: flex;

    justify-content: center;
    text-align: center;
    align-items: center;


    display: inline-block;
    background-color: rgb(63, 103, 103);
    width: 100%;
    word-wrap: break-word;
}

.imagen-redonda {
    border-radius: 50%; 
    justify-content: center;
    max-width: 70%;
    max-height: 70%;

    align-items: center;
    justify-content: center;
  
}

.imagen-ampliada {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    max-width: 80%;
    max-height: 80%;
    cursor: pointer;
}
.afiche{
    max-width: 100%;
    max-height: 100%;

}

.titulocrono{
    
    background-color: aqua;
   
}
.titulocro{
    margin-bottom: 0px;
}